@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a asp-controller="Vendor" asp-action="GetVendors" asp-route-lowerBound="A" asp-route-upperBound="E">here to go the the Vendors page!</a>.</p>
</div>
